@roboto-mono-<uniquifier> {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body {

    font-family: "Roboto Mono", monospace;
    color: #333;
    font-size: 18px;
    background-image: url(assets/images/illustration-sign-up-desktop.svg);
    background-size: cover;
    background-position: right ;
    background-size:50%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
    }

.container {
    padding: 50px;
}
button{

    background-color: #333;
    padding: 10px;
border: 1px solid #ccc;
    border-radius: 4px;
    color: white;
}
